* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
}

:root {
    --main-background-color: rgb(1, 2, 92);
    --main-input-color: rgba(255, 255, 255);
    --main-background-color-tasks: rgb(245,245,245);
    --main-font-color: rgb(40,40,40);
    --main-background-color-tools: rgb(3, 152, 252);
    --main-background-color-menu-icon: rgb(169,169,169);
    --main-font-family: 'Roboto Slab', serif;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
}

.div-title {
    margin: auto;
    margin-bottom: 10px;
    padding: 80px;
    text-align: center;
}

.h1-title {
    color: rgba(255, 255, 255);
    font-size: 3.5em;
}

.frame {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.inputs-frame {
    margin: auto;
    text-align: center;
}

#input {
    background-color: var(--main-input-color);
    font-family: var(--main-font-family);
    width:95%;
    padding: 10px 5px 10px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}

#search {
    background-color: var(--main-input-color);
    font-family: var(--main-font-family);
    width:95%;
    padding: 10px 5px 10px 30px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: none;
}

.wall-frame {
    overflow: hidden;
}

.ul-class {
    list-style-type: none;
    padding-top: 10px;
    margin-bottom: 20px;
}

.li-class {
    background-color: var(--main-background-color-tasks);
    max-height: 200px;
    width: 95%;
    margin: auto;
    margin-bottom: 25px;
    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px; */
    border-radius: 4px !important;
    transition: 250ms;
    word-wrap: break-word;
    position: relative;
}

.li-class.li-class-height {
    max-height: 0px;
    margin: 0px;
}

li:hover > .tools-frame > .menu-icon-div {
    transform: scale(1, 1);
}

li:hover > div.tools-frame > div.menu-icon-div > label.menu-icon-frame > i.drop-down {
    opacity: 1;
    transform: scale(1, 1);
}

.content-frame {
    /* If you set a big max-height the animation of the height will be too fast!!!! */
    max-height: 600px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 1s;
}

.content {
    padding: 15px 30px 30px 20px;
    text-align: justify;
    place-self: center;
    font-size: 1em;
} 

.tools-frame {
    background-color: var(--main-background-color-tools);
    height: 0;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 90% auto;
}

.tools {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 5% 5% 5% 5%;
    column-gap: 26.66%;
}

.menu-icon-div {
    background-color: var(--main-background-color-tools);
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2 / 3;
    position: absolute;
    bottom: 0;
    transform: scale(1, 0.3);
    transform-origin: bottom;
    transition: 150ms;
}

.menu-icon-frame {
    border-radius: 4px;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-content: center;
}

.check {
    display: none;
}

.drop-down {
    color: black;
    opacity: 0;
    transition: 150ms;
}

.drop-down:hover {
    color: white;
}

.check-icon {
    grid-column: 1 / 2;
    display: flex !important;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 250ms;
}
    
.bx-check:hover {
    color: greenyellow;
}

.rocket-icon {
    grid-column: 2 / 3;
    display: flex !important;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 250ms;
}

.rocket-icon:hover {
    color: red;
}  

.star-icon {
    grid-column: 3 / 4;
    display: flex !important;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 250ms;
}

.star-icon:hover {
    color: yellow;
}

.comment-icon {
    grid-column: 4 / 5;
    display: flex !important;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 250ms;
}

.comment-icon:hover {
    color: purple;
}

@media only screen and (min-width: 500px) {
    .frame {
        width: 500px;
    }
}