* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--main-font-color);
}

:root {
    --main-background-color: rgb(1, 2, 92);
    --main-input-color: rgba(255, 255, 255);
    --main-background-color-tasks: rgb(245,245,245);
    --main-font-color: rgb(40,40,40);
    --mian-background-color-tools: rgb(3, 152, 252);
    --main-font-family: 'Roboto Slab', serif;
}

body {
    background-color: var(--main-background-color);
    font-family: var(--main-font-family);
}

.div-title {
    /* border: 2px solid white; */
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 80px;
    /* border-bottom: 1px solid white; */
}

.h1-title {
    color: rgba(255, 255, 255);
    font-size: 3.5em;
}

.frame {
    width: 100%;
    /* border: 1px solid white; */
    margin: auto;
    padding: 10px;
}

.inputs-frame {
    margin: auto;
    text-align: center;
}

#input {
    background-color: var(--main-input-color);
    font-family: var(--main-font-family);
    width:95%;
    padding: 10px 5px 10px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
}

#search {
    background-color: var(--main-input-color);
    font-family: var(--main-font-family);
    width:95%;
    padding: 10px 5px 10px 30px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: none;
}

.wall-frame {
    width: 100%;
    overflow: hidden;
}

.ul-class {
    width: 100%;
    list-style-type: none;
    padding-top: 10px;
    margin-bottom: 20px;
}

.li-class {
    width: 95%;
    margin: auto;
    /* background-color: red; */
    background-color: var(--main-background-color-tasks);
    margin-bottom: 15px;
    border-radius: 8px;
    word-wrap: break-word;
    position: relative;
    transition: 20ms;
}

.li-class:hover {
    transform: scale(calc(1 + 0.02));
}

.content-frame {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 15px 50px 15px 20px;
}

.content {
    text-align: justify;
    place-self: center;
    font-size: 1em;
}

.menu-icon-div {
    /* background-color: greenyellow; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    display: grid;
    justify-content: center;
    bottom: -8px;
    right: 0;
    left: 0;
}

.menu-icon-frame {
    width: 100px;
    background-color: var(--mian-background-color-tools);
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 1;
    transition: 150ms linear;
    transform: scale(1, 0.2);
    /* display: none; */
}

.menu-icon-frame:hover {
    width: 150px;
    transform: scale(1, 1);
    border-radius: 3px;
}

.menu-icon-frame:hover > .drop-down {
    opacity: 1;
}

.drop-down {
    color: black;
    transition: 150ms;
    position: relative;
    opacity: 0;
}

.drop-down:hover {
    color: white;
}

.tools-frame {
    /* position: absolute; */
    display: none;
    width: 100%;
    bottom: -35px;
    /* display: grid; */
    grid-template-columns: 15% auto 15%;
    text-align: center;
}

.tools {
    background-color: var(--mian-background-color-tools);
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    grid-template-columns: 25% 25% 25% 25%;
}

.check-icon {
    grid-column: 1 / 2;
    transition: 250ms;
}

.check-icon:hover {
    color: greenyellow;
}

.rocket-icon {
    grid-column: 2 / 3;
    transition: 250ms;
}

.rocket-icon:hover {
    color: red;
}  

.star-icon {
    grid-column: 3 / 4;
    transition: 250ms;
}

.star-icon:hover {
    color: yellow;
}

.comment-icon {
    grid-column: 4 / 5;
    transition: 250ms;
}

.comment-icon:hover {
    color: purple;
}

@media only screen and (min-width: 500px) {
    .frame {
        width: 500px;
    }
}